#Admin{
	text-align: center;
	font-size: 20px;
}

.error{
	color: red;
	height: 50px;
}


#centrer{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

#Admin{
    width: max-content;
    margin: auto;
    border: 4px solid black;
    border-radius: 41px;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}